<section class="section-block products-block pt-70 pb-30">
  <div class="container">
    <div class="product-block text-center">
      <h2 class="heading md-heading centered">Qui sont nos partenaire</h2>
      <p class="big">NET-SYS travaille avec plusieurs entreprises dans tous les domaines.</p>
      <div class="all-products">
        <div class="row">
          {{ range first 6 (where .Data.Pages "Params.type" "client") }}
          <div class="col-md-2 product-item">
            <img src="{{ .Params.Image }}" alt="{{ .Title }}" class="">
          </div>
          {{ end }}
       </div>
     </div>
   </div>
 </div>
</section>
