<footer class="white-bg pt-60 pb-20">
  <h2 class="text-center">(footer pas encore dynamique ou configurable)</h2><br/><br/>
  <div class="container pl-lg-0 pr-lg-0 pb-30">
   <div class="row">
    <div class="col-lg logo-col">
     <div class="logo">
       <img src="images/logo.png" alt="" width="130">
       <p class="big mt-30">Leader de la géolocalisation dans votre région</p>
       <ul class="social-list">
        <li>
          <a href="" target="_blank">
            <img width="26" height="26" src="images/fb.svg" alt="facebook">
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <img width="26" height="26" src="images/linkedin.png" alt="linkedin">
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <img width="26" height="26" src="images/twitter.png" alt="twitter">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg footer-widget">

   <ul class="list">
     <div class="list-title">Entreprise</div>
     <li><a class="footer-link">A-propos</a></li>
     <li><a class="footer-link">Produits</a></li>
     <li><a class="footer-link">Métiers</a></li>
     <li><a class="footer-link">Services</a></li>
     <li><a class="footer-link">Clients</a></li>
     <li><a class="footer-link">Contact</a></li>
   </ul>
 </div>
 <div class="col footer-widget">

   <ul class="list">
     <div class="list-title">Services</div>
     <li><a class="footer-link">Géolocalisation</a></li>
     <li><a class="footer-link">Dispositifs GPS</a></li>
     <li><a class="footer-link">Solutions</a></li>
     <li><a class="footer-link">SBAS</a></li>
     <li><a class="footer-link">Aide conducteur</a></li>
     <li><a class="footer-link">Infos véhicule</a></li>
   </ul>
 </div>
 <div class="col footer-widget">

   <ul class="list">
     <div class="list-title">Secteurs d’activité</div>
     <li><a class="footer-link">Métiers du bâtiment</a></li>
     <li><a class="footer-link">Installation SAV</a></li>
     <li><a class="footer-link">Travaux publics</a></li>
     <li><a class="footer-link">Transports livraisons</a></li>
     <li><a class="footer-link">Transports de personne</a></li>
     <li><a class="footer-link">Propreté Collectivités</a></li>
   </ul>
 </div>
 <div class="col footer-widget">

   <ul class="list">
     <div class="list-title">Lien utiles</div>
     <li><a class="footer-link">Accès Client</a></li>
     <li><a class="footer-link">Demande d’assistance</a></li>
     <li><a class="footer-link">Transit Zakaria</a></li>
     <li><a class="footer-link">Casbah Web</a></li>
   </ul>
 </div>
</div>
</div>
<div class="footer-copyright container block pl-lg-0 pr-lg-0">
 Copyright 2018 © <a href="" title="">IDE-NET Géolocalisation </a>
 - Tous droits réservés.
 <div class="float-right">
   Siteweb réalisé par  <a href="http://www.linkomweb.com" title="Linkom, l'agence web!" target="_blank"><b>Linkom</b><img class="logo-linkom ml-10" src="http://promotionkhawadja.com/wp-content/themes/khawadja/images/logo-linkomweb.png" alt="Linkom, l'agence web!" width="20"></a>
 </div>
</div>
</footer>
