<!-- Start Slider -->
<div id="slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1">
  <div class="container-fluid pl-lg-30 pr-lg-30">
   <div id="slider" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
     <ul>
      <!-- SLIDE  -->
    {{ range where .Site.Pages "Params.type" "slide" }}
       <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" style="background-color: rgba(0,0,0,0.5);">
            <img src="/{{ .Params.image }}" title="ship" width="1240" height="594" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

            <h1 class="tp-caption slide-title" data-start="300"
            data-transform_idle="o:1;"
            data-transform_in="y:-30px;rX:70deg;opacity:0;s:2000;e:Power4.easeInOut;"
            data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['center','center','center','center']" data-voffset="['0','0','0','0']"
            data-fontsize="['55','55','55','55']"
            data-speed="800"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="color:white">
            {{ .Params.text }}
            </h1>
        </li>
    {{ end }}
    </ul>
    <div class="tp-static-layers">
    </div>
    <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0);"></div>
  </div>
</div>
</div>
<a href="#about" class="scroll">
  <div class="touch-hidden">
    <div class="cursor">
     <svg id="cursor" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="43px" x="0px" y="0px" viewBox="-35 29 28 43" style="enable-background:new -35 29 28 43;" xml:space="preserve">
      <path d="M-18,47.5c0.4-0.3,0.9-0.3,1.3,0c0.4,0.3,0.4,0.9,0,1.2l-3.7,3.5c-0.2,0.2-0.4,0.3-0.6,0.3c-0.2,0-0.5-0.1-0.6-0.3l-3.7-3.5
      c-0.4-0.3-0.4-0.9,0-1.2c0.4-0.3,0.9-0.3,1.3,0l2.1,2v-8.1l-2.1,2c-0.4,0.3-0.9,0.3-1.3,0c-0.4-0.3-0.4-0.9,0-1.2l3.7-3.5
      c0.3-0.3,0.9-0.3,1.3,0l3.7,3.5c0.4,0.3,0.4,0.9,0,1.2c-0.2,0.2-0.4,0.2-0.6,0.2c-0.2,0-0.5-0.1-0.6-0.2l-2.1-2v8.1L-18,47.5z"></path>
    </svg>
  </div>
  <div class="mouse">
    <svg id="mouse" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="43px" x="0px" y="0px" viewBox="-35 29 28 43" style="enable-background:new -35 29 28 43;" xml:space="preserve">
     <path d="M-21,29c-7.7,0-14,6-14,13.4v16.1C-35,66-28.7,72-21,72c7.7,0,14-6,14-13.4V42.4C-7,35-13.3,29-21,29z M-9.6,58.7
     c0,6-5.1,10.9-11.4,10.9s-11.4-4.9-11.4-10.9V42.3c0-6,5.1-10.9,11.4-10.9s11.4,4.9,11.4,10.9V58.7z"></path>
   </svg>
 </div>
</div>
</a>
<!-- End Slider -->
